[submodule "spark-janelia"]
	path = scripts/spark-janelia/spark-janelia
	url = https://github.com/JaneliaSciComp/spark-janelia.git
	branch = master
[submodule "flintstone"]
	path = scripts/spark-janelia/flintstone
	url = https://github.com/saalfeldlab/flintstone.git
	branch = lsf
